<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.zz.dao.IMenuDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.zz.entity.MenuDO" >
        <id column="menu_id" property="menuId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="supid" property="supid" jdbcType="BIGINT" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="BIGINT" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="is_use" property="isUse" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        menu_id, name, url, supid, create_by, create_date, update_by, update_date, is_use
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from menu
        where menu_id = #{menuId,jdbcType=BIGINT}
    </select>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from menu
        where menu_id = #{menuId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.cmpay.zz.entity.MenuDO" >
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                menu_id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="supid != null" >
                supid,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="isUse != null" >
                is_use,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                #{menuId,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="supid != null" >
                #{supid,jdbcType=BIGINT},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isUse != null" >
                #{isUse,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.cmpay.zz.entity.MenuDO" >
        update menu
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="supid != null" >
                supid = #{supid,jdbcType=BIGINT},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null" >
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isUse != null" >
                is_use = #{isUse,jdbcType=TINYINT},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=BIGINT}
    </update>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.zz.entity.MenuDO" >
        select 
        <include refid="Base_Column_List" />
        from menu
        <where >
            <if test="menuId != null" >
                and menu_id = #{menuId,jdbcType=BIGINT}
            </if>
            <if test="name != null" >
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="url != null" >
                and url = #{url,jdbcType=VARCHAR}
            </if>
            <if test="supid != null" >
                and supid = #{supid,jdbcType=BIGINT}
            </if>
            <if test="createBy != null" >
                and create_by = #{createBy,jdbcType=BIGINT}
            </if>
            <if test="createDate != null" >
                and create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateBy != null" >
                and update_by = #{updateBy,jdbcType=BIGINT}
            </if>
            <if test="updateDate != null" >
                and update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
            <if test="isUse != null" >
                and is_use = #{isUse,jdbcType=TINYINT}
            </if>
        </where>
    </select>
</mapper>